.dplayer-notice {
    opacity: 0;
    position: absolute;
    bottom: 60px;
    left: 20px;
    font-size: 14px;
    border-radius: 3px;
    background: var(--transparent-dark-background,rgba(28, 28, 28, 0.9));
    padding: 7px 15px;
    transition: all .3s ease-in-out;
    overflow: hidden;
    color: var(--white-color,#fff);
    pointer-events: none;
}